body {
    padding: 0;
    margin: 0;
    height: 100%;
    background: #000;
    color: #fff;
}

@media only screen and (max-width: 670px) {
    #navPosition {
        position: fixed;
        left: -240px;
    }
    .openList {
        left: 0px !important;
    }
    #navPosition {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    #mapContainer>div>a:nth-child(1) {
        display: block !important;
    }
}

#allmap {
    width: calc(100%-10px);
    width: -webkit-calc(100%-10px);
    width: -zom-calc(100%-10px);
    height: 100%;
    margin: 0;
    padding: 0 5px;
    font-family: "微软雅黑";
}

#navPosition {
    padding: 3px 6px;
    float: left;
    width: 220px;
    height: 100%;
}

#navPosition input {
    margin-left: 3px;
    width: 150px;
    line-height: 20px;
    font-size: 16px;
}

h4 {
    margin: 0px;
}

#searchResultPanel {
    padding-top: 10px;
    width: 100%;
}

#searchResultPanel ul {
    margin: 0;
    padding: 0 5px;
}

#searchResultPanel li {
    margin: 0 0 0 0px;
    padding: 8px 0;
    border-bottom: 1px solid #333;
    list-style: none;
    font-size: 16px;
    color: #fff;
}

#searchResultPanel a {
    text-decoration-line: none;
    color: #fff;
}

#mapContainer {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: #000;
    color: #fff;
    width: calc(100%-200px);
    width: -webkit-calc(100%-200px);
    width: -zom-calc(100%-200px);
    height: 100%;
}

#mapContainer list {
    text-decoration-line: none;
    display: block;
    color: #fff;
    font-size: 16px;
    padding: 5px;
}

.cbp-spmenu-push-toleft {
    overflow-x: hidden;
    position: relative;
    left: 240px;
}

.menuLink {
    text-decoration-line: none;
    display: none;
    color: #fff;
    font-size: 18px;
}

.mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: .1;
    background: #000;
    z-index: 9999;
}

.messageBox {
    z-index: 19999;
    width: 300px;
    height: 200px;
    background: #54ad54;
    color: #000;
    position: absolute;
    top: 200px;
    text-align: center;
}