body {
    padding: 0;
    margin: 0;
    height: 100%;
    background: #000;
    color:#fff;
}

#allmap {
    width: calc(100%-10px);
    width: -webkit-calc(100%-10px);
    width: -zom-calc(100%-10px);
    height: 100%;
    margin: 0;
    padding: 0 5px;
    font-family: "微软雅黑";
}

#navPosition {
    padding: 3px 6px;
    float: left;
    width: 220px;
    height: 100%;
  
}
#navPosition input{
    margin-left: 3px;
    width: 150px;
    line-height: 20px;
    font-size: 16px;
}
h4 {
    margin: 0px;
}

#searchResultPanel {
    padding-top: 10px;
    width: 100%;
    
}

#searchResultPanel ul {
    margin: 0;
    padding: 0 5px;
}

#searchResultPanel li {
    margin: 0 0 0 10px;
    padding: 8px 0;
    border-bottom: 1px solid #333;
    list-style: decimal;
    font-size: 16px;
    color: #fff;
}

#searchResultPanel a {
    text-decoration-line: none;
    color: #fff;
}


#mapContainer {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: #000;
    color: #fff;
    width: calc(100%-200px);
    width: -webkit-calc(100%-200px);
    width: -zom-calc(100%-200px);
    height: 100%;
}

#mapContainer list{
    text-decoration-line: none;
    display: block;
    color: #fff;
    font-size: 16px;
    padding: 5px;
}

.cbp-spmenu-push-toleft {
    overflow-x: hidden;
    position: relative;
    left: 240px;
}